<div class="hero-banner flex flex-row items-end p-20">
    <div>
        <h1 class="text-6xl font-bold text-white">
			Wij helpen bedrijven <span class="text-sky-600">duurzame</span> transities te maken door <span class="text-sky-600">digitalisering</span>. 
		</h1>
    </div>
</div>

<style>
    .hero-banner {
		background-image:linear-gradient(180deg, rgba(26, 25, 25, 0) 50%, rgba(26, 25, 25, 0.9) 100%), url(https://www.avisi.nl/hubfs/Homepage-Avisi.jpg);
		background-position: left;
		min-height: 101vh;
		background-repeat: no-repeat;
    	background-size: cover;
	}

</style>
