<header class="w-full h-20 px-8 fixed bg-slate-900/10">
    <div class="container h-full flex items-center">
        <a href="/" class="logo">
            <img src="logo.svg" />
        </a>
        <nav class="ml-16">
            <ul class="text-white flex space-x-4">
                <li><a class="hover:underline" href="blog">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>
